.header {
  &__info {
    h3 {
      margin-bottom: 3px;
    }

    p {
      color: $cyan;
      font-size: 12px;
    }
  }

  &__filter {
    &-link {
      color: $white;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500;
    }

    &-link:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}
